<ul class="social-links">
  <a href="http://www.github.com/osnysantos" class="github" title="GitHub" target="_blank">
    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#github"></use></svg>
    <span>GitHub</span>
  </a>
  <a href="http://www.twitter.com/osnysantos" class="twitter bigger" title="Twitter" target="_blank">
    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg>
    <span>Twitter</span>
  </a>
  <a href="http://www.dribbble.com/osnysantos" class="dribbble" title="Dribbble" target="_blank">
    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dribbble"></use></svg>
    <span>Dribbble</span>
  </a>
  <a href="http://www.linkedin.com/in/osnynetto" class="linkedin bigger" title="LinkedIn" target="_blank">
    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use></svg>
    <span>Linkedin</span>
  </a>
</ul>